.button {
    background-color: #FF2D00;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 15px 2px;
    border-radius: 5px;
    transition: background-color 0.5s;
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 45%;
    z-index: 2;
}

.button:hover {
    background-color: blue;
    cursor: pointer;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 15%;
    z-index: 1;
    align-self: top;
}

@media (max-width: 992px) {
    .myvideo {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .myvideo {
        width: 250px;
    }
}

.myvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}